@font-face {
    font-family: 'wotfardregular';
    src: url('./fonts/wotfard-regular-webfont.eot');
    src: url('wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('./fonts/wotfard-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
* ::after,
* ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'wotfardregular';
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

header,
.introduction {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
    background-color: #1F2937;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    padding: 60px 300px;
}

.introduction h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.introduction .img-container {
    display: flex;
    flex: 0 0 600px;
    justify-content: center;
    align-items: center;
    /* width: 700px; */
    /* height: 300px; */
    background-color: rgba(228, 228, 228, 0.200);
    color: #E5E7EB;
}

.introduction-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}